.tagclouds-block_tagclouds-1{
  span{
    display: block;
    a.tagclouds{
      font-size: 1.2em;
      display: block;
      width: 100%;
      padding: 10px 40px;
      box-sizing: border-box;
    }
  }
}
