.view-mode-vm_2 {
    position: relative;
    @include rwd-screen(pc) {
         @include child-margin(20px,0px);
    }
    @include rwd-screen(pad,phone) {
         @include child-margin(20px,10px);
    }
    //perfile info
    .perfile-wrapper {
        .field-name-ds-user-picture {
            border: 5px solid #98ACC0;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            max-width: 90px;
            @include rwd-coding(border-width,5px,5px,3px,2px);
        }

        .field-name-author {
            //display: none;
        }
    }
    //artcle info
    .content-wrapper {
        position: relative;
        @include child-margin(0px,10px);

        &:after {
            content: "";
            display: block;
            position: absolute;
            @include size(98%);
            right: 0;
            bottom: -5px;
            background: #DCDCDC;
            //border-radius: 20px;
            z-index: 1;
        }

        > .wrapper {
            position: relative;
            box-sizing: border-box;
            border: 2px solid get-bg-color(m1);
            //border-radius: 20px;
            padding: 20px 25px;
            background: #ffffff;
            margin: 0 5px 5px 0;
            z-index: 2;
        }
    }

    .field-name-ds-user-picture {
        border: 5px solid #98ACC0;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        @include rwd-coding(max-width,100%,80px,60px,60px);
        @include rwd-coding(border-width,5px,3px,3px,2px);
    }

    .field-name-author {
        text-align: center;
        padding: 10px;
        @include rwd-coding(display,block,none,none,none);
    }

    .field-name-field-tag {
        display: block;
        border-bottom: 1px solid #efeaea;

        .field-items {
            @include display-flex;
            @include flex-wrap(wrap);
            @include justify-content(flex-end);

            .field-item {
                position: relative;
                margin-top: 5px;
                margin-bottom: 5px;

                &:not(first-child) {
                    margin-left: 10px;
                }

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    @include size(100%);
                    right: -3px;
                    bottom: -3px;
                    background: #DCDCDC;
                    z-index: 1;
                }

                a {
                    display: block;
                    position: relative;
                    z-index: 2;
                    background: #ffffff;
                    padding: 10px;
                    box-sizing: border-box;
                    border: 1px solid;
                    white-space: nowrap;
                    @include transition(0.3s);

                    &:hover {
                        color: #ffffff;
                        background: get-bg-color(m1);
                    }
                }
            }
        }
    }
}
