//max-width---------------------------------------------------------------------

.max-width,
body .max-width {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.max-width-sm,
body .max-width-sm {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.max-width-md,
body .max-width-md {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

body.full-screen {
  #page {
    max-width: none;
  }
}
//padding-----------------------------------------------------------------------
$gutter-sm:34px;
$gutter-md:40px;
$gutter-lg:80px;
.layout-padding,
body .layout-padding {
  padding-left: $gutter-sm;
  padding-right: $gutter-sm;
  box-sizing: border-box;
}

.block-padding,
body .block-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

.block-padding-lg,
body .block-padding-lg {
  padding-top: 100px;
  padding-bottom: 100px;
}

.block-padding-sm,
body .block-padding-sm {
  padding-top: 80px;
  padding-bottom: 80px;
}
.padding-top,
body .padding-top {
  padding-top: $gutter-md;
}

.padding-top-lg,
body .padding-top-lg {
  padding-top: $gutter-lg;
}

.padding-bottom,
body .padding-bottom {
  padding-bottom: $gutter-md;
}

.padding-bottom-lg,
body .padding-bottom-lg {
  padding-bottom: $gutter-lg;
}
//margin------------------------------------------------------------------------
//layout-margin

.margin-top,
body .margin-top {
  margin-top: $gutter-md;
}

.margin-top-lg,
body .margin-top-lg {
  margin-top: $gutter-lg;
}

.margin-bottom,
body .margin-bottom {
  margin-bottom: $gutter-md;
}

.margin-bottom-lg,
body .margin-bottom-lg {
  margin-bottom: $gutter-lg;
}
//列表margin
.list-margin {
  @include child-margin(20px);
}

.list-margin-sm {
  @include child-margin(1px,40px);
}

.list-margin-lg {
  @include child-margin(80px);
}
//field margin

.field-margin {
  @include child-margin(10px);
  overflow: visible;
}

.field-margin-sm {
  @include child-margin(5px);
}

.field-margin-lg {
  @include child-margin(20px);
}

.clear-margin {
  @include child-margin(0px);
}
//clear p margin
.clear-field-type-text-long-margin {
  .field-type-text-long {
    .field-items {
      position: relative;
    //  overflow: hidden;

      .field-item {
        margin: -1.5em 0;

        p,span {
          margin: 1.5em 0;
          line-height: 1.5em;
        }
      }
    }
  }
}
//components-background---------------------------------------------------------
.components-background {
  background: get-bg-color(m1);
}
