//backgrond color
$bg-color: ( b1:#000000,b2:#ffffff,m1:#656469,m2:#2273B2,c1:#DEDEDE,c2:#656469);

//border color
$br-color: ( b1:#000000,b2:#ffffff,m1:#656469,m2:#2273B2,c1:#DEDEDE);

//font color
$font-color: ( b1:#000000,b2:#ffffff,m1:#656469,m2:#2273B2,c1:#ea4d35,c2:#9EA1A2);


@function get-bg-color($colour) {
     @if map-has-key($bg-color, $colour){
        $colour: map-get($bg-color, $colour);
    }
    @else {
         @if type-of($colour) != colour{
            @error "Colour name: `#{$colour}` not found.";
        }
    }
    @return $colour;
}

@function get-br-color($colour) {
     @if map-has-key($br-color, $colour){
        $colour: map-get($br-color, $colour);
    }
    @else {
         @if type-of($colour) != colour{
            @error "Colour name: `#{$colour}` not found.";
        }
    }
    @return $colour;
}

@function get-font-color($colour) {
     @if map-has-key($font-color, $colour){
        $colour: map-get($font-color, $colour);
    }
    @else {
         @if type-of($colour) != colour{
            @error "Colour name: `#{$colour}` not found.";
        }
    }
    @return $colour;
}




//example:
// body{
//   background:get-bg-color(c1);
// }
